<h1>Bienvenido a mi aplicación</h1>
<p> <font color="#fff">Click aquí para </font><%= link_to "Registrarse", "#", class: 'btn btn-primary btn-sm' %> </p> <!--Al agregar la propiedad classs: 'btn', indicamos que se agregue un boton que contendra el texto AQUI, que por si sola mostrara un color similar al fondo don de se encuentre AQUI-->
<!--Por lo que se utilizara la propiedad class='btn btn-default', esto hara que se muestre el boton en blanco, con un relieve para resaltar el boton-->
<!--Para cambiar de color se usa class: 'btn btn-primary' , esto hara que cambie de color el boton a azul-->
<!--Al colocar el la instruccion btn-lg indicamos el tamaño del boton-->